/* body{
    background-image:url("https://www.shutterstock.com/image-vector/super-sale-header-banner-design-260nw-1663164736.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20px;    
    border: 200px;
} */

.image_css{
    position: relative;
    left:35%;
}

.slider {
position: relative;
width: 600px;
height: 250px;
overflow: hidden;
border-radius: 15px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.slides {
display: flex;
transition: transform 0.6s ease-in-out;
width: 100%;
height: 100%;
}

.slides img {
width: 600px;
height: 400px;
object-fit: cover;
flex-shrink: 0;
}

.arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 40px;
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px 15px;
cursor: pointer;
user-select: none;
border-radius: 10px;
z-index: 10;
}

.arrow.left {
        left: 10px;
}

.arrow.right {
    right: 10px;
}





/* background-image: url("photographer.jpg");

  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */