/* .container{
  display: flex;
  flex-direction:column;
  column-gap: 100%;
} */

.name_product{
    position: absolute;
    left:50%;
    bottom: 90%;
}

.img_product{
    position: absolute;
    left:35%;
    max-width: 100%;
    height: auto;
}

.price_product{
    position: absolute;
    left:50%;
    bottom:85%;
}

.description_product{
    position: absolute;
    left:24%;
    bottom:30%;
    width: 400px;
    word-wrap: break-word;
    border: 1px solid grey;
    border-radius: 18px;
}

.hr_style{
    position: absolute;
    bottom:90%;
    width: 15%;
    left:950px;
}


.cart_btn {
    position:relative;
    left:65%;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff0000b4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart_btn i {
  margin-right: 8px;
}

.cart_btn:hover {
  background: #b42525;
}



.buy_now-btn {
    position:absolute;
    left:65%;
    bottom: 83%;
    margin-top: 15px;
    padding: 10px 20px;
    background: #28a745;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buy_now-btn i {
  margin-right: 8px;
}

.buy_now-btn:hover {
  background: #218838;
}


.product-gallery {
  position: absolute;
  left: 24%;
  bottom:55%;
  max-width: 100%;
  height: auto;
}
.main-display {
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.main-display img,
.main-display video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnails img {
  width: 80px;
  height: 60px;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid rgba(0, 4, 255, 0.425);
  background-color: white;
}


.thumbnails img:hover {
  border: 2px solid blue;
}

